@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* each linear-gradient is just a repeating 1px stripe */

body {
  background-image:
  /*0 to 1px color -> rgba(128,128,128,0.1) at exactly 1px switch to transparent*/
  /*after 1px stays transparent because it's the last color*/
    linear-gradient(rgba(128, 128, 128, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(128, 128, 128, 0.1) 1px, transparent 1px);

  background-size: 50px 50px;
  background-attachment: fixed;
}
